<mat-toolbar>
    <button mat-icon-button class="navbar-btn">
        <mat-icon>menu</mat-icon>
    </button>
    <span>PGEAR</span>
    <span class="spacer"></span>
    <span class="input">
        <mat-form-field class="form-field">
            <mat-label>Search</mat-label>
            <input matInput type="text">
            <button matSuffix mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </span>
    <span class="spacer"></span>
    <button mat-stroked-button class="navbar-btn">Đăng Ký</button>
    <button mat-flat-button color="primary" class="navbar-btn">Đăng Nhập</button>
</mat-toolbar>

<div class="product-title">
    <h2>Bàn phím AKKO</h2>
</div>

<div class="card-container">
    <mat-card class="card" *ngFor="let product of listProducts">
        <img mat-card-image [src]="product.image" [alt]="product.description">
        <mat-card-header>
            <mat-card-title class="product-name">{{product.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="product-description">{{product.description}}</p>
            <p>{{product.price | currency:'VND':true}}</p>
        </mat-card-content>
        <div class="card-spacer"></div>
        <mat-card-actions class="card-footer">
            <div *ngIf="!product.status; else addHang" class="center">HẾT HÀNG</div>
            <ng-template #addHang>
                <button mat-icon-button>
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </ng-template>
        </mat-card-actions>
    </mat-card>
</div>