<mat-toolbar>
    <button mat-icon-button class="navbar-btn" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/home" style="cursor: pointer;">PGEAR</span>
    <span class="spacer"></span>
    <span class="input">
        <mat-form-field class="form-field">
            <mat-label>Search</mat-label>
            <input matInput type="text">
            <button matSuffix mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </span>
    <span class="spacer"></span>
    <button mat-icon-button class="navbar-btn" [routerLink]="['cart']">
        <mat-icon [matBadge]="numberOfItems" matBadgeColor="accent">shopping_cart</mat-icon>
    </button>
    <button mat-stroked-button class="navbar-btn">Đăng Ký</button>
    <button mat-flat-button color="primary" class="navbar-btn">Đăng Nhập</button>
</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <div class="sidenav-component-container">
            <div class="brand-container">
                <div>
                    <button mat-button [routerLink]="['akko_gears']">Bàn phím Akko</button>
                </div>
                <div>
                    <button mat-button [routerLink]="['leopold-gears']">Bàn phím Leopold</button>
                </div>
                <div>
                    <button mat-button>Bàn phím 1</button>
                </div>
                <div>
                    <button mat-button>Bàn phím 2</button>
                </div>
            </div>
            <div class="spacer"></div>
            <div>
                V 1.0.0
            </div>
        </div>
    </mat-drawer>
    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>